HOST=0.0.0.0
PORT=1337
APP_KEYS=<%= appKeys %>
API_TOKEN_SALT=<%= apiTokenSalt %>
ADMIN_JWT_SECRET=<%= adminJwtToken %>
TRANSFER_TOKEN_SALT=<%= transferTokenSalt %>
JWT_SECRET=<%= jwtSecret %>

# strapi Init Admin plugin
INIT_ADMIN_USERNAME=admin
INIT_ADMIN_PASSWORD=password
INIT_ADMIN_FIRSTNAME=firstname
INIT_ADMIN_LASTNAME=lastname
INIT_ADMIN_EMAIL=username@mail.com
